<div class="v-page-heading v-bg-stylish v-bg-stylish-v1" id="contact-us">
  <div class="container-fluid">
    <div class="row center">
      <div class="col-md-8 col-md-offset-2">
        <p class="v-smash-text-large-2x">
          <span style="font-family: 'Times New Roman', Times, serif;color:#3799ef;">Call us today!</span>
        </p>
        <br />
      </div>
    </div>
    <table style="width:100%;">
      <tr>
        <td>
          <table>
            <tr>
              <td>
                <img src="../../../assets/images/contactus1.png"
                     style="text-align:left; height:200px;">
              </td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <table>
            <tr>
              <td >
                <ul style="list-style-type: none;">
                  <li>
                    <p style="font-size:14px; color:#337ab7;"><i class="fa fa-building"></i>&nbsp;&nbsp;Finsol Consultancy Pvt. Ltd. </p>
                  </li>
                  <li>
                    <p style="font-size:14px; color:#337ab7;"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;25-D, SDF-1,VSEZ, Duvvada, Visakhapatnam - 530049 </p>
                  </li>
                  <li>
                    <p style="font-size:14px;color:#337ab7;"><i class="fa fa-envelope"></i><strong>&nbsp;&nbsp;Email:</strong> <a href="mailto:info@finsolconsultancy.com">info@finsolconsultancy.com</a></p>
                  </li>
                  <li>
                    <p style="font-size:14px; color:#337ab7;"><i class="fa fa-phone"></i><strong>&nbsp;&nbsp;Phone:</strong> 799 500 8770</p>
                  </li>
                  <!-- <li>
                      <p style="font-size:14px; color:#337ab7;"><i class="fa fa-print"></i><strong>&nbsp;&nbsp;Fax:</strong> 555-1254-8785</p>
                  </li> -->
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="container-fluid" id="contact">
  <div class="footer-wrap">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <section class="widget">
              <div class="widget-heading">
                <h4>About Us</h4>
              </div>

              <p class="pull-bottom-small">
                Finsol offers tremendous flexibility and a good culture fit to any organisation. Finally, in Finsol you see a strategic partner that is ready to go that extra mile. Finsol has consistently demonstrated high levels of business and technical knowledge, creativity and delivery excellence. You remain highly satisfied.


              </p>
              <p>
                <a target="_blank" href="http://finsolconsultancy.com/">Read More →</a>
              </p>
            </section>
          </div>
          <div class="col-md-3">
            <section class="widget">
              <div class="widget-heading">
                <h4>Contact Us</h4>
              </div>
              <div class="footer-contact-info">
                <ul>
                  <li>
                    <p><i class="fa fa-building"></i>Finsol Consultancy Pvt. Ltd. </p>
                  </li>
                  <li>
                    <p><i class="fa fa-map-marker"></i>25-D, SDF-1,VSEZ, Duvvada, Visakhapatnam - 530049 </p>
                  </li>
                  <li>
                    <p><i class="fa fa-envelope"></i><strong>Email:</strong> <a href="mailto:info@finsolconsultancy.com">info@finsolconsultancy.com</a></p>
                  </li>
                  <!-- <li>
                      <p><i class="fa fa-phone"></i><strong>Phone:</strong> 1800 425 2366</p>
                  </li>
                  <li>
                      <p><i class="fa fa-print"></i><strong>Fax:</strong> 555-1254-8785</p>
                  </li> -->

                </ul>
                <br />


              </div>
            </section>
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
    </footer>

    <div class="copyright">
      <div class="container">
        <p>
          <span>© Copyright 2018 by Finsol Consultancy Pvt Ltd. All Rights Reserved.</span>

        </p>
        <p style="float:right;">
          <span><strong>For Better Performance, use FireFox and Edge Browsers</strong></span>

        </p>
      </div>
    </div>
  </div>
</div>
