.example-full-width {
  width: 70%;
}
h3,h6{
  color: crimson;
}
.wrapper {
  height: 100vh;
  background: url("../../../assets/images/Apyati_login.jpg") no-repeat center;
  background-size: cover;

}
